@import 'images';

.not-found-box{
	height: 100%;
	background:
		linear-gradient(135deg, #6AA9DE 22px, #337AB7 22px, #337AB7 24px, transparent 24px, transparent 67px, #337AB7 67px, #337AB7 69px, transparent 69px),
		linear-gradient(225deg, #6AA9DE 22px, #337AB7 22px, #337AB7 24px, transparent 24px, transparent 67px, #337AB7 67px, #337AB7 69px, transparent 69px)0 64px;
	background-color:#6AA9DE;
	background-size: 64px 128px;
	color: #fff;
	
	h1, h2 {
		font-weight: 300;
		text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	}

	h1 {
		font-size: 9.5em;
		margin-top: .6em;
	}

	h2 {
		font-size: 2em;
		margin-top: -.8em;
	}	

	.form-search {
		font-weight: 300;
		margin-top: 5em;

		.title {
			margin-top: .5em;
			font-size: 1.3em;
			font-weight: 300;
			text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
		}

		input,button, select {height: 3em;}

		.search-type {
	        cursor: pointer;
	        padding: .2em .4em;
	        width: 8em;
	        border-radius: 0;
	        border-top-left-radius: 4px;
	        border-bottom-left-radius: 4px;
	        border-right: none;
	        box-shadow: none;
	        background-image: url($images-path + 'arrow-down.svg');
	        background-repeat: no-repeat;
	        background-position: 6.5em center;
	        -webkit-appearance: none;
	           -moz-appearance: none;
	                appearance: none;
        }
	}
}