@import 'colors';
@import 'fonts';
@import 'images';

.back-box{
	background-color: rgba(56, 82, 107, 0.85);
	height: 100%;
    font-family: Candara;
    color: #f9f3f3;	
    margin-bottom:1em;
    text-align: left;
    overflow: hidden;

	.ops{
		font-size: 9.5em;
	    font-weight: bolder;
	    margin-left: 10%;
	}

	.page-not-found{
	    margin-left: 10%;
	}

	.form-search {
		font-family: $font-default;
		margin-top: 1em;

		label {
			margin-top: 2em;
		}
		input {
			font-size: 1.4em;
			padding: 20px 10px;
		}
		.btn {
			padding-top: .7em;
			padding-bottom: .7em;
		}
	}
}

