@import 'colors';
@import 'images';
@import 'mixins';
@import 'buttons';

.college-profile {
    background-color: $light-gray;

    .initials {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0;
        width: 100%;
        padding: 2%;
    }

    .card {
        background: white;
        display: inline-block;
        border: 0.1em solid $gray;
    }
    .selectable-card {
        @include transition(border 0.2s);
        cursor: pointer;

        &:hover { border: 0.1em solid $light-blue; }
    }

    #rating-switch {
        display: none;

        &:checked {
            
            + .college-card-container {
                @include transform(rotateY(180deg));
                z-index: 0;
            }
        }
    }

    .college-card-container {
        @include transition(transform 0.6s);
        @include transform-style(preserve-3d);

        .front-card {
            z-index: 2;
            backface-visibility: hidden;
            @include transform(rotateY(0deg));
        }
        .back-card {
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            @include transform(rotateY(180deg));
        }
    }

    .college-card {
        @extend .card;
        height: 24em;
        width: 100%;

        header {
            position: relative;
            display: block;
            width: 100%;
            height: 50%;

            .college-background {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
            }

            .college-logo {
                position: absolute;
                width: 5em;
                height: 5em;
                border: 1px solid white;
                bottom: -2.5em;
                left: calc(50% - 2.5em);
                border-radius: 50%;
                background-color: white;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 0 2px 3px rgba(233,239,243,0.52), 0 1px 3px rgba(233,239,243,0.64);
            }
        }
        main {
            position: relative;
            padding-top: 4em;
            height: 50%;
            display: block;
            text-align: center;

            .name {
                font-size: 1.2em;
                margin:0 0.5em;
            }

            .details {
                display: block;
                padding-top: 2em;

                div {
                    display: inline-block;
                    width: calc(33% - 2px);
                }
            }

            .rating {
                cursor: pointer;
                margin: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0.2em 0;
                font-size: 1.1em;
                width: 100%;
                color: white;
                background-color: #2980b9;

                &:hover {
                    text-decoration: underline;
                }

                p { margin: 0; }
            }
        }
    }

    .rating-card {
        @extend .card;
        height: 24em;
        width: 100%;

        .title {
            font-size: 1.2em;
            text-align: center;
            margin-top: 2em;
        }

        .type {
            display: block;
            margin: 3em 0;
            font-size: 1.4em;
            font-weight: bold;
            text-align: center;
        }
        .stars {
            display: block;
            text-align: center;
            unicode-bidi: bidi-override;
            direction: rtl;

            .star {
                background: none; 
                border: none;
                @include filter(grayscale(100%));
                @include transition(0.2s);

                &:hover {
                    @include filter(none);

                    ~ .star {
                        @include filter(none);
                    }
                }

                &:focus {
                    outline: none;
                }

                img {
                    width: 2.6em;
                    height: 2.6em;
                }
            }
        }
        
    }
    .back {
        position: absolute;
        bottom: 0;
        right: 1em;
        color: $light-blue;
        cursor: pointer;
    }

    .greetings {
        background: white url($images-path + 'claps.svg') no-repeat center center;

        .title {

            font-size: 1.6em;
        }
    }
    
    .courses-card {
        @extend .card;
        width: 100%;
        margin-top: 2em;

        h2 {
            text-align: center;
            font-size: 1em;
        }

        hr {
            margin: 0 1.5em;
        }

        .list {
            list-style: none;
            padding: 0;

            li {
                margin: 1em;
                display: block;
                text-align: center;
            }
        }

        .question {
            background-color: $light-gray;
            height: 100%;
            padding: 1em 1em 0;
            border-top: 0.1em solid $gray;
            text-align: center;
        }
    }

    .contact-card {
        @extend .card;
        padding: 1em;
        width: 100%;
        margin-bottom: 2em;

        h2 {
            font-size: 1.2em;
            margin-top: 0;
            text-align: center;
        }
        .contact-row {
            display: block;
            
            p {
                display: inline-block;

                &:first-of-type {width: 6em;}
            }
        }
    }

    .about-card {
        @extend .card;
        padding: 1em;
        width: 100%;
        margin-bottom: 2em;

        h2 {
            font-size: 1.2em;
            margin-top: 0;
            text-align: center;
        }

        .about-user:before { background: white url($images-path + "about-user.svg") no-repeat bottom left;}
        .about-ratings:before { background: white url($images-path + "about-ratings.svg") no-repeat bottom left;}
        .about-courses:before { background: white url($images-path + "about-courses.svg") no-repeat bottom left;}
        .about-local:before { background: white url($images-path + "about-local.svg") no-repeat bottom left;}

        .link { 
            display: block;

            a {
                cursor: pointer;

                &:before {
                    content: '';
                    display: none;
                    width: 2em;
                    height: 2em;
                    background-size: 1.2em;
                }
            }
        }        
    }

    .footer-card {
        @extend .card;
        padding: 1em;
        width: 100%;

        p { 
            display: block;
            text-align: center;
        }

        .links {
            a {margin: 0 0.3em;}
        }
    }

    .left-cards {
        display: inline-block;
        width: 96%;
        margin-left: 2%;
        padding: 1%;

        @include perspective(1000px);
    }

    .center-cards {
        display: inline-block;
        width: 96%;
        padding: 1%;
        margin-left: 2%;
    }

    .right-cards {
        display: inline-block;
        width: 96%;
        margin-left: 2%;
        padding: 1%;
    }
}

@media (min-width: 450px) {
    .college-profile {

        .left-cards {
            width: 80%;
            margin-left: 10%;
        }

        .center-cards {
            width: 80%;
            margin-left: 10%;
        }

        .right-cards {
            width: 80%;
            margin-left: 10%;
        }
    }
}

@media (min-width: 700px) {

    .college-profile {

        .left-cards {
            width: 38%;
            padding: 1%;
            margin: 0;
        }

        .center-cards {
            width: 58%;
            padding: 1%;
            margin: 0;
        }

        .right-cards {
            width: 96%;
            padding: 1%;
            margin: 0;
        }
    }    
}

@media (min-width: 1000px) {

    .college-profile {
        height: 100%;
        width: 100%;

        .left-cards {
            position: absolute;
            left: 0;
            top: 5em;
            width: 25%;
            margin: 0;
        }

        .center-cards {
            margin-left: 25%;
            width: 50%;
        }

        .right-cards {
            position: absolute;
            right: 0;
            top: 5em;
            width: 25%;
            margin: 0;
        }

        .about-card .link a:before {
            display: inline-block;
        }
    } 
}