$white: #fff;
$black: #000;
$black-gray: #1F1F1F;

$gray: #ccc;
$light-gray: #eee;
$lighter-gray: #E7E7E7;
$dark-gray: #333;
$darkest-gray: #333b47;
$text-gray: #999;

$orange: #ED6F36;
$light-gray: #eee;
$lighter-gray: #E7E7E7;

$light-blue: #337AB7;
$flat-blue: #3568FC;

$message-green: #6CBF6D;
$message-red: #DB6460;
$message-yellow: #F1B55F;

$blue-facebook: #3b5998;

