$white: #fff;
$black: #000;
$black-gray: #1F1F1F;

$link: #5F7AB7;

$gray: #ccc;
$light-gray: #eee;
$lighter-gray: #E7E7E7;
$dark-gray: #333;
$darkest-gray: #333b47;
$shadow-gray: #e5e5e5;
$shadow-gray-fade: #b5b5b5;
$text-gray: #999;
$transparent-gray: #F6F6F6;

$orange: #ED6F36;

$light-blue: #337AB7;
$flat-blue: #3568FC;
$baby-blue: #F1F0FF;
$flat-green: #27ae60;

$message-green: #6CBF6D;
$message-red: #DB6460;
$message-yellow: #F1B55F;

$blue-facebook: #3b5998;
