@import 'images';

.fa-facebook {
	background-image: url($images-path + 'facebook.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.border-light {
	border:1px solid #efefef;
}

.text-default {
	color: #666 !important;
}

.form-error-text {
	color: #dd4b39;
}
