$icon-font-path: "../bower_components/admin-lte/bootstrap/fonts/";

.fa-facebook {
	background-image: url('../images/facebook.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.border-light {
	border:1px solid #efefef;
}
