@import 'images';

.fa-facebook {
	background-image: url($images-path + 'facebook.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.shadow {
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 3px rgba(0,0,0,.1);

    &:hover {
        border: 1px solid #b5b5b5;
        box-shadow: 0 0 3px rgba(0,0,0,.6);
        -moz-box-shadow: 0 0 3px rgba(0,0,0,.6);
        -ms-box-shadow: 0 0 3px rgba(0,0,0,.6);
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,.6);
        -o-box-shadow: 0 0 3px rgba(0,0,0,.6);
    }
}


.border-light {
	border:1px solid #efefef;
}

.text-default {
	color: #666 !important;
}

.form-error-text {
	color: #dd4b39;
}
