@import 'colors';
@import 'images';

.college-profile {
    margin-top: 0.5em;
    position: relative;

    .initials {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0;
        width: 100%;
        padding: 2%;
    }

    .card {
        background: white;
        display: inline-block;
        border: 0.1em solid $gray;
    }

    .college-card {
        @extend .card;
        height: 24em;
        width: 100%;

        header {
            position: relative;
            display: block;
            width: 100%;
            height: 50%;

            .college-background {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
            }

            .college-logo {
                position: absolute;
                width: 5em;
                height: 5em;
                border: 1px solid white;
                bottom: -2.5em;
                left: calc(50% - 2.5em);
                border-radius: 50%;
                background-color: white;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 0 2px 3px rgba(233,239,243,0.52), 0 1px 3px rgba(233,239,243,0.64);
            }
        }
        main {
            margin-top: 4em;
            display: block;
            text-align: center;

            .name {
                font-size: 1.2em;
                margin:0 0.5em;
            }

            .details {
                display: block;

                div:first-of-type {
                    margin-top: 1em;
                    width: 50%;
                    float: left;
                    border-right: 1px solid #E9EFF3;
                }
                div:last-of-type {
                    margin-top: 1em;
                    float: right;
                    width: 50%;
                }
            }
        }
    }

    .campus-card {
        @extend .card;
        margin-top: 2em;
        width: 100%;
        padding: 1em;

        h2 {
            font-size: 1.2em;
            margin: 0;
            text-align: center;
        }
    }

    .timeline-card {
        @extend .card;
        position: relative;
        margin-bottom: 2em;

        .post {
            position: relative;
            border-bottom: 0.2em solid $light-gray;
            padding: 1em;

            &:last-of-type { border: none;}

            .logo {
                border-radius: 50%;
                width: 3em;
                margin-right: 1em;
            }

            .college-name {
                font-size: 1em;
                font-weight: bold;
                display: inline-block;
            }

            .date {
                position: absolute;
                color: $dark-gray;
                right: 1em;
                top: 1em;
            }

            .content {
                margin-left: 4em;
            }
        }
    }
    .courses-card {
        @extend .card;
        width: 47%;
        margin-right: 3%;

        h2 {
            text-align: center;
            font-size: 1em;
        }

        hr {
            margin: 0 1.5em;
        }

        .list {
            list-style: none;
            padding: 0;

            li {
                margin: 1em;
                display: block;
                text-align: center;
            }
        }

        .question {
            background-color: $light-gray;
            height: 100%;
            padding: 1em 1em 0;
            border-top: 0.1em solid $gray;
            text-align: center;
        }
    }

    .comment-card {
        @extend .card;
        position: absolute;
        width: 47%;
        margin-left: 2%;
        padding: 1.5em 0.5em;
        text-align: center;

        .btn-comment {
            padding: 0.5em;
            text-decoration: none;
        }
    }

    .about-card {
        @extend .card;
        padding: 1em;
        width: 100%;

        h2 {
            font-size: 1.2em;
            margin-top: 0;
            text-align: center;
        }

        .about-user:before { background: white url($images-path + "about-user.svg") no-repeat bottom left;}
        .about-students:before { background: white url($images-path + "about-students.svg") no-repeat bottom left;}
        .about-courses:before { background: white url($images-path + "about-courses.svg") no-repeat bottom left;}
        .about-local:before { background: white url($images-path + "about-local.svg") no-repeat bottom left;}

        .link { 
            display: block;

            a {
                cursor: pointer;

                &:before {
                    content: '';
                    display: none;
                    width: 2em;
                    height: 2em;
                    background-size: 1.2em;
                }
            }
        }        
    }

    .footer-card {
        @extend .card;
        margin-top: 2em;
        padding: 1em;

        p { 
            display: block;
            text-align: center;
        }

        .links {
            a {margin: 0 0.3em;}
        }
    }

    .left-cards {
        left: 0;
        width: 96%;
        margin-left: 2%;
        padding: 1%;
    }

    .center-cards {
        width: 96%;
        padding: 1%;
        margin-left: 2%;
    }

    .right-cards {
        width: 96%;
        margin-left: 2%;
        padding: 1%;
    }
}

@media (min-width: 450px) {
    .college-profile {

        .left-cards {
            width: 80%;
            margin-left: 10%;
        }

        .center-cards {
            width: 80%;
            margin-left: 10%;
        }

        .right-cards {
            width: 80%;
            margin-left: 10%;
        }
    }
}

@media (min-width: 700px) {

    .college-profile {

        .left-cards {
            position: absolute;
            left: 0;
            margin: 0;
            width: 40%;
            padding: 1%;
        }

        .center-cards {
            width: 60%;
            margin-left: 40%;
            padding: 1%;
        }

        .right-cards {
            position: absolute;
            right: 0;
            width: 60%;
            padding: 1%;
        }
    }    
}

@media (min-width: 800px) {

    .college-profile {

        .left-cards {
            position: absolute;
            left: 0;
            margin: 0;
            width: 30%;
            padding: 1%;
        }

        .center-cards {
            width: 70%;
            margin-left: 30%;
            padding: 1%;
        }

        .right-cards {
            position: absolute;
            right: 0;
            width: 70%;
            padding: 1%;
        }
    }    
}

@media (min-width: 1000px) {

    .college-profile {

        .left-cards {

            width: 25%;
            padding: 1%;
        }


        .center-cards {
            position: absolute;
            left: 25%;
            width: 50%;
            margin-left: 0;
        }

        .right-cards {
            right: 0;
            width: 25%;
        }

        .about-card .link a:before {
            display: inline-block;
        }
    }    
}