@import 'base-search';

.college-search {
    .results {
        .card {
            background: white;
            border: 0.1em solid $gray;
            display: inline-block;
            padding: 0 .5em .5em .5em;
            width: 100%;
            margin: 0 0 1% 0;
            font-family: $font-default;
            overflow: hidden;

            header {
                display: block;
                overflow: hidden;
                padding: .5em 0;
                
                .name {
                    font-size: 1.2em;
                    font-weight: 300;
                    text-transform: uppercase;
                }
                .initials {
                    color: $dark-gray;
                    background: #f00;
                    display: block;
                }
                .grades-link {
                    font-weight: bold;
                    color: $orange;
                }
            }

            main {
                width: 100%;
                overflow-y: hidden;

                .college-picture {
                    width: 12em;
                    height: 11em;
                    border: 1px solid $light-gray;
                    .image{
                        opacity: 0.3;
                        width: 100%;
                        height: 100%;
                    }
                }

                .details {
                    width: calc(100% - 12em);
                    padding: 0 1em;
                    margin: 0;

                    .grades {
                        margin: 0;

                        div {
                            display: inline-block;
                            margin: 0 .5em .5em 0;
                            background: $transparent-gray;
                            padding: .5em .8em;
                            
                            &.description, &.links { 
                                border: none;
                                padding-left: 0;
                                background: none;
                            }
                        }
                        dt { 
                            font-size: 1.2em;
                            font-weight: 300;
                            color: $text-gray;
                        }
                        dd { 
                            font-size: .9em;
                            text-align: center;
                            font-weight: bold;
                            color: black;
                        }
                    }

                    .links {
                        .link {
                            margin: 0 1em 0 0;
                            font-weight: bold;
                            color: $light-blue;
                        }
                    }   
                }
            }

            .initials {
                padding:0;
                margin-top: .2em;
                text-transform: uppercase;
                font-size: 1.2em;
                font-weight: 300;
            }
        }
    }

    @media (max-width: 700px) {
        .results {
            .card {
                .college-picture {
                    display: none;
                }

                .details, .grades {
                    width: 100% !important;
                }

            }
        }
    }
}