@import 'colors';
@import 'images';
@import 'mixins';
@import 'buttons';
@import 'conversation';
@import 'base-college-profile';

.college-profile {
    .tab {
        display: none;
        width: 0;
        visibility: hidden;

        &:hover + .tab-label {
            color: $dark-gray;
        }
        &:checked + .tab-label {
            background-color: white;
            color: #444;
            position: relative;
            z-index: 2;
            margin: 0;
            @include transition(.1s);
        }
    }
    .tab-label {
        width: 50%;
        color: $light-blue;
        cursor: pointer;
        display: block;
        float: left;
        font-size: 1em;
        height: 2.5em;
        line-height: 2.5em;
        margin-bottom: 0;
        vertical-align: bottom;
        padding: 0 1.5em;
        border: 0.1em solid $gray;
        border-bottom: none;
        text-align: center;
    }

    .posts,
    .comments {
        opacity: 0;
        z-index: -1;
        @include transition(all linear 0.1s);
        width: 100%;
        height: 30em;
        overflow-y: scroll;
    }

    input#posts-tab:checked ~ .timeline-card .posts,
    input#comments-tab:checked ~ .timeline-card .comments {
        opacity: 1;
        z-index: 1;
    }
    .comments {
        position: absolute;
        left: 0;
        top:0;
    }

    .selectable {
        display: block;
        margin: 0;
    }

    .campus-card {
        @extend .card;
        @extend .selectable-card;
        width: 100%;
        padding: 1em 1em 0;

        .btn-campus {
            background: none;
            border: none;
            width: 100%;
            text-align: center;
            color: $light-blue;
            &:focus {outline: none;}
        }

        .campus-list {
            list-style: none;
            margin-top: 1em;

            li {
                margin-bottom: 1em;

                .address {
                    margin-bottom: 0;
                    font-weight: 300;
                }
            }
        }
    }

    .timeline-card {
        @extend .card;
        border-top: none;
        position: relative;
        margin-bottom: 2em;
        z-index: 1;

        .post {
            position: relative;
            border-bottom: 0.2em solid $light-gray;
            padding: 1em;

            &:last-of-type { border: none;}

            .college-logo {
                border-radius: 50%;
                width: 3em;
                margin-right: 1em;
            }

            .college-name {
                font-size: 1em;
                font-weight: bold;
                display: inline-block;
            }

            .date {
                position: absolute;
                color: $dark-gray;
                right: 1em;
                top: 1em;
            }

            .content {
                margin-left: 4em;
            }
        }
    }
}