@import 'colors';
@import 'fonts';
@import 'images';

.home-box {
	font-family: $font-default;

	.banner {
		padding: 2em 0;
		min-height: 480px;
		margin: 0px;
		background-image: url($images-path + 'banner.jpg');
		background-size: cover;
		background-position: center;
		color: $white;

		.subtitle {
			font-size: 1.4em;
		}
	}

	.form-search {
		margin-top: 1em;


		label {
			margin-top: 15px;
		}

		input {
			font-size: 1.6em;
			padding: 20px 10px;
		}
		.btn {
			padding-top: .7em;
			padding-bottom: .7em;
		}
	}


	.ribbon-box {
		.subtitle {
			font-size: 1.4em;
		}

		.ribbon {
			width: calc(100% - 4em);
			font-size: 1.4em;
			position: relative;
			background: $darkest-gray;
			color: $white;
			text-align: center;
			padding: 1em 2em;
			margin: 2em auto 2em;
			
			.ribbon-content:before, 
			.ribbon-content:after {
				position: absolute;
		 		display: block;
		 		border-style: solid;
		 		border-color: $black transparent transparent transparent;
		 		bottom: -1em;
			}

			.ribbon-content:before {
	 			left: 0;
	 			border-width: 1em 0 0 1em;
			}

			.ribbon-content:after {
	 			right: 0;
	 			border-width: 1em 1em 0 0;
			}
		}
		
		.ribbon:before, 
		.ribbon:after {
			content: "";
			position: absolute;
			display: block;
			bottom: -1em;
			border: 1.5em solid $darkest-gray;
			z-index: -1;
		}
		.ribbon:before {
			left: -2em;
			border-right-width: 1.5em;
			border-left-color: transparent;
		}
		.ribbon:after {
	 		right: -2em;
	 		border-left-width: 1.5em;
	 		border-right-color: transparent;
		}
	}


	.courses-box {
		.course-box {
			.service-box {
				padding: 20px 40px 20px;
				min-height: 280px;
				margin-bottom: 30px;
				text-align: center;

				&:hover {
					cursor: pointer;
				}

				.icon {
				    display: block;
				    overflow: hidden;
				    text-align: center;
				    width: 75px;
					height: 90px;
					margin:0 auto;
					padding: 0;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 60px;
				}

				.icon-engineer { background-image: url($icons-path + "engineer.svg"); }
				.icon-medicine { background-image: url($icons-path + "medicine.svg"); }
				.icon-psychology { background-image: url($icons-path + "psychology.svg"); }
			}
		}		
	}


	.box-profession {
		background-image: url($images-path + 'vocational-test-bg.png');
        background-attachment: fixed;
		background-size: cover;
		text-align: center;
		padding: 50px 0;		
		margin-top: 20px;

		.btn {
			margin: 20px 5px;
		}

		.subtitle {
			font-size: 1.3em;
		}
	}


	.box-colleges {
		padding-bottom: 40px;

		.college {
			margin: 20px 0;

			.college-inner {
				padding: 20px;
				margin-bottom: 30px;
			}

			.college-thumb {
				margin-bottom: 15px;
				text-align: center;

				img {
					margin: 0 auto;
					display: block;
					overflow: hidden;
					transition: all .5s ease-in-out 0s;
				    -moz-transition: all .5s ease-in-out 0s;
				    -ms-transition: all .5s ease-in-out 0s;
				    -webkit-transition: all .5s ease-in-out 0s;
				    -o-transition: all .5s ease-in-out 0s;
				    width: 100%;
				}
			}

			.position {
				font-size: 40px;	
				color: $dark-gray;
				text-align: center;
				float: left;
				line-height: 40px;
				display: block;
				margin-right: 5px;

				span {
					color: $dark-gray;
					font-size: 40px;
					display: block;
					line-height: 40px;
				}
			}

			.name {
				display: block;
				font-size: 18px;
				line-height: auto;
				text-align: center;
				min-height: 40px;
			}

			.info {
				width: 100%;
			}
		}


		.btn-ranking {
			color: $dark-gray;
			border: 1px solid $gray;
			text-decoration: none;
			font-size: 20px;
			margin: 20px 0;
			padding: 15px;
		}
	}
}