@import 'colors';
@import 'fonts';
@import 'images';


.padding{
    padding-top: 4em; 
}

.footer {
    background-color: $black-gray;
    min-height: 25em;
    width: 100%;

    .column {
        color: $text-gray;

        .widget {
            .title {
                font-weight: bold;
                text-transform: uppercase;
                color: $gray;
                font-size: 1.8em;
                padding: 0;
                background: none;
                line-height: normal;
                margin-bottom: 0.8em;
            }

            ul {
                margin: 0;
                list-style: none;
                padding: 0;

                li {
                    padding-left: 12px;
                    position: relative;
                    margin-bottom: 6px;

                    &:before {
                        content: "";
                        display: block;
                        background: url($images-path + "arrow-right.png") no-repeat left top;
                        position: absolute;
                        top: 8px;
                        left: 0;
                        width: 4px;
                        height: 6px;
                    }                    
                }
            }

            .socials {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 2px;
                        padding: 0;

                        a {
                            display: block;
                            height: 48px;
                            width: 48px;
                            background-image: url($images-path + 'social-sprite.png');
                            background-repeat: no-repeat;
                            cursor: pointer;
                            transition: all 200ms;
                            display: inline-block;
                        }

                        .icon-facebook {
                            background-position: -48px 0px;
                            &:hover {background-position: -48px -48px;}
                        }
                        .icon-twitter {
                            background-position: 0px 0px;
                            &:hover {background-position:0px -48px;}
                        }
                        .icon-googleplus {
                            background-position: -96px 0px;
                            &:hover {background-position: -96px -48px;}
                        }
                        .icon-instagran {
                            background-position: -240px 0px;
                            &:hover {background-position: -240px -48px;}
                        }
                        

                        &:before {
                            background: none;
                            top: 0px;
                            left: 0;
                            width: 0px;
                            height: 0px;
                        }
                    }
                }
            }
        }
    }
}