@import 'colors';
@import 'fonts';
@import 'images';

body {
    background-color: $light-gray;
}

.search {
    position: relative;

    h1 {
        color: $dark-gray;
        margin-left: 0.5em;
        display: inline-block;
    }

    .results-count {
        display: inline-block;
        margin-left: 1em;
        font-size: 1.2em;
    }

}

.advanced {
    display: inline-block;
    position: absolute;
    top: 3em;
    left: 0;
    width: 20%;
    margin: 2%;
    height: 30em;

    h2 {
        font-family: $font-default;
    }

    input {
        height: 2em;
        width: 0;
        visibility: hidden;

        &:hover {
            + label {
                color: $dark-gray;
            }
        }
        &:checked {
            + label {
                font-size: 1.2em;
                background-color: white;
                color: #444;
                position: relative;
                z-index: 6;
                margin: 0;
                -webkit-transition: .1s;
                -moz-transition: .1s;
                -o-transition: .1s;
                -ms-transition: .1s;
            }
        }
    }

    label {
        width: 49%;
        color: #2361F8;
        cursor: pointer;
        display: block;
        float: left;
        font-size: 1em;
        height: 2.5em;
        line-height: 2.5em;
        margin-top: 0.4em;
        vertical-align: bottom;
        padding: 0 1.5em;
        text-align: center;
    }

    .aside-content {
        background: white;
        border-radius: 0 .25em .25em .25em;
        min-height: 20em;
        position: relative;
        width: 100%;
        z-index: 5;

        .filter-content,
        .search-content {
            opacity: 0;
            padding: 1.5em;
            position: absolute;
            z-index: -100;
            transition: all linear 0.1s;
        }
    }

    input#filter:checked ~ .aside-content .filter-content,
    input#search:checked ~ .aside-content .search-content {
        opacity: 1;
        z-index: 100;
    }

    input.visible {
      visibility: visible !important;
    }
}

.results {
    display: inline-block;
    width: 76%;
    margin-left: 24%;

    .order {
        margin-top: 0.7em;
        display: block;

        select {
            background: white;
            padding:0.2em 0;
            margin-left: 1em;
            width: 12em;
        }
    }

    .card {
        background: white;
        border: 1px outset $light-gray;
        display: inline-block;
        position: relative;
        padding: 0.5em;
        width: 70%;
        height: 18em;
        margin-top: 1%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

        header {
            display: block;
            font-family: $font-default;
            height: 2em;
            margin-top: 0.5em;
            
            .name {
                font-weight: bold;
                display: inline-block;
            }
            .grades {
                float: right;
                display: inline-block;
                font-weight: bold;
                color: #ED6F36;
                margin-right: 2em;
            }
        }

        main {
            height: calc(100% - 2.5em);
            position: relative;

            .college-picture{
                position: absolute;
                left: 0;
                display: inline-block;
                height: 100%;
                width: 30%;
                background:
                radial-gradient(circle, transparent 20%, white 20%, white 80%, transparent 80%, transparent),
                radial-gradient(circle, transparent 20%, white 20%, white 80%, transparent 80%, transparent) 50px 50px,
                linear-gradient(#EEE 8px, transparent 8px) 0 -4px,
                linear-gradient(90deg, #EEE 8px, transparent 8px) -4px 0;
                background-color: white;
                background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
            }

            .details {
                width: 50%;
                position: absolute;
                left: 30%;
                height: 100%;


                .grades {
                    margin: 1em;

                    div {
                        display: inline-block;
                        margin: 0 1em;
                    }
                    dt { color: #999}
                    dd { 
                        text-align: center;
                        font-weight: bold;
                    }
                }
                .description {
                    margin-bottom: 2em;
                }

                .links {
                    position: absolute;
                    bottom: 1em;
                }
                .link {
                    margin: 0 1em;
                    font-weight: bold;
                    color: #3568FC;
                }
            }
            .address {
                position: absolute;
                height: 70%;
                width: 18%;
                right: 0;
                border-left: 1px solid $light-gray;
            }
        }
    }
}