<page show-search="false" main-class="box-about">

	<section class="box-banner">
        <h1 class="text-center title">{{"about.us.title" | translate}}</h1>
        <h2 class="text-center subtitle">{{"about.us.subtitle" | translate}}</h2>
	</section>
    <p class="btn-section"><i class="glyphicon glyphicon-education"></i></p>

	<section class="box-text">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>{{"about.us.text.line.1" | translate}}</p>
                <p>{{"about.us.text.line.2" | translate}}</p>
                <p>{{"about.us.text.line.3" | translate}}</p>
                <p>{{"about.us.text.line.4" | translate}}</p>
            </div>
	    </div>
	</section>
</page>