<page show-search="false" main-class="about-box">

	<section class="about-cover">
        <h1 class="text-center">Um pouquinho da nossa história</h1>
	    <p class="btn-section"><i class="glyphicon glyphicon glyphicon-education"></i></p>
	</section>

	<section class="about-history">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>Muitas pessoas encontram dificuldades na hora de decidir em qual faculdade estudar,	muitas das vezes por falta de informação elas não conseguem fazer uma boa decisão, ou acabam gastando muito tempo para pesquisar preços, cursos que desejam fazer, localização e outras informações em diversos sites. Hoje não existe um lugar que reúna todas essas informações de forma organizada.</p>
                <p>Então pensamos: Por que não facilitar essa busca, reunindo notas do MEC, ENADE e avaliação de aluno e ex-alunos
	            sobre diversos quesitos?</p>
                <p>Assim surgiu o <b>QualFacul?</b>, para facilitar a escolha do melhor curso, na melhor faculdade e com a sua cara.</p>
                <p>Seja parte disso você também. Se já é aluno, avalie sua instituição e ajude quem esta por vir.</p>
            </div>
	    </div>
	</section>
</page>