<page main-class="college-profile">
    <base-college-profile>
        <article>
            <input id="posts-tab" type="radio" name="tab-group" class="tab"/>
            <label for="posts-tab" class="tab-label">{{"colleges.profile.timeline.posts" | translate}}</label>

            <input id="comments-tab" type="radio" name="tab-group" class="tab" checked/>
            <label for="comments-tab" class="tab-label">{{"colleges.profile.timeline.comments" | translate}}</label>

            <div class="timeline-card box-shadow">
                <div class="posts">
                    <article ng-repeat="post in timeline.posts" class="post">
                        <img src="../images/college.png" class="college-logo">    
                        <h3 class="college-name">{{college.name}}</h3>
                        <time class="date">{{post.createdAt}}</time>
                        <p class="content">{{post.content}}</p>
                    </article>
                </div>
                <div class="comments" ng-controller="CollegeConversationCtrl">
                    <article ng-if="timeline.conversations.length === 0" class="no-conversations">
                        <h2>{{"colleges.profile.no.comments.yet" | translate}}</h2>
                        <a ng-if="!isLogged" ng-href="/login?redirectAfterLogin=/faculdades/{{collegeId}}">{{"colleges.profile.leave.comment" | translate}}</a>
                        <form angular-validator-submit="leaveComment()" name="leaveCommentForm" novalidate angular-validator method="POST" class="leave-comment" ng-if="isLogged">
                            <p class="btn-comment">{{"colleges.profile.leave.comment" | translate}}</p>
                            <div class="hided-content">
                                <textarea name="comment" ng-model="comment.text" class="comment-field" ng-enter></textarea>
                            </div>
                            <input value="" type="submit" class="btn-comment-confirm">
                        </form>
                    </article>
                    <article ng-repeat="conversation in timeline.conversations" class="conversation">
                        <label for="messages-box-{{conversation.id}}" class="switch-conversation" ng-class="{'non-selectable': conversation.messages.length === 1 }">
                            <input id="messages-box-{{conversation.id}}" type="checkbox" ng-if="conversation.messages.length > 1 || canLoggedUserReply(conversation.studentId)" class="switch">
                            <header ng-class="{'open-conversation': conversation.messages.length > 1 || canLoggedUserReply(conversation.studentId)}">
                                <p class="student-name">{{conversation.studentName}}</p>
                                <time class="sent-date"  am-time-ago="conversation.createdAt | amParse:'DD/MM/YYYY HH:mm:ss'"></time>
                                <div class="question">
                                    <h3>{{conversation.messages[0].content}}</h3>
                                </div>
                            </header>
                            <main>
                                <div ng-repeat="message in conversation.messages" ng-if="$index >= 1" ng-init="isNotSequencial = !isSequentialMessage(conversation.messages, $parent.$index)" class="message {{message.direction}}">
                                    <p ng-if="isFromStudent(message) && isNotSequencial" class="reply-user">{{conversation.studentName}}</p>
                                    <p ng-if="isFromCollege(message) && isNotSequencial" class="reply-user">{{college.initials}}</p>
                                    <div class="content {{isNotSequencial ? 'not-sequential' : ''}}">
                                        <p class="text">{{message.content}}</p>
                                        <time class="sent-date" am-time-ago="message.sentAt | amParse:'DD/MM/YYYY HH:mm:ss'"></time>
                                    </div>
                                </div>
                                <form angular-validator-submit="replyComment(conversation.id, $parent.$index)" name="replyCommentForm" novalidate angular-validator method="POST" ng-if="canLoggedUserReply(conversation.studentId)" class="answer">
                                    <p>Responder</p>
                                    <div class="reply-field">
                                        <textarea name="reply-{{conversation.id}}" ng-model="reply.text" ng-enter></textarea>
                                        <input value="" type="submit" class="btn-reply" >
                                    </div>
                                </form>
                            </main>
                        </label>
                    </article>
                    <form angular-validator-submit="leaveComment()" name="leaveCommentForm" novalidate angular-validator method="POST" class="leave-comment" ng-if="timeline.conversations.length !== 0">
                        <p class="btn-comment">{{"colleges.profile.leave.comment" | translate}}</p>
                        <div class="hided-content">
                            <textarea name="comment" ng-model="comment.text" class="comment-field" ng-enter></textarea>
                        </div>
                        <input value="" type="submit" class="btn-comment-confirm">
                    </form>
                </div>
            </div>
        </article>
        <label class="selectable">
            <article id="campus" class="campus-card box-shadow ">
                <header>
                    <form angular-validator angular-validator-submit="listCampus()" name="listCampusForm" method="GET">
                        <button class="btn-campus">{{"colleges.profile.campus.available" | translate}}</button>
                    </form>
                </header>
                <main>
                    <ol class="campus-list">
                        <li ng-repeat="address in campus">
                            <p class="address">{{address.address}}</p>
                            <p class="state">{{address.state}} -{{address.city}}</p>
                        </li>
                    </ol>
                </main>
            </article>
        </label>
    </base-college-profile>
</page>