<page main-class="search">
    <div class="title-row">
        <h1>{{"colleges.search.title" | translate}}</h1>
        <p ng-if="response.totalResults" class="results-count">({{response.totalResults}} {{"colleges.search.results" | translate}})</p>
    </div>
    <aside class="advanced">
        <input id="filter" type="radio" name="tab-group" class="pane" checked/>
        <label for="filter" class="tab-label">{{"colleges.search.menu.filter" | translate}}</label>

        <input id="search" type="radio" name="tab-group" class="pane"/>
        <label for="search" class="tab-label">{{"colleges.search.menu.search" | translate}}</label>

        <section class="aside-content">
            <article class="filter-content">
                <form angular-validator angular-validator-submit="searchFilter()" name="searchFilterForm" method="GET" class="filters">
                    <div class="col-md-12">
                        <label for="filter-state">{{"colleges.search.menu.state" | translate}}</label>
                        <input id="filter-state" placeholder="Ex: SP" ng-model="filter.state">
                    </div>
                    
                    <div class="col-md-12">
                        <label for="filter-ranking">{{"colleges.search.menu.min.ranking" | translate}}</label>
                        <input id="filter-ranking" placeholder="Ex: 20" ng-model="filter.ranking">
                    </div>
                    
                    <button class="btn btn-warning btn-filter">{{"colleges.search.menu.button" | translate}}</button>
                </form>
            </article>
            <article class="search-content">
                
            </article>
        </section>
    </aside>

    <section class="results">
        <label class="order pull-left">
            {{"colleges.search.order" | translate}}:
            <select class="medium">
                <option>{{"colleges.search.order.general" | translate}}</option>
            </select>

            {{"colleges.search.resultsPerPage" | translate}}
            <select classs="small">
                <option>10</option>
            </select>
        </label>
        
        <pagination page="{{page}}" total-pages="{{response.totalPages}}" class="right-pagination pull-right"/>

        
        <div class="col-md-12 text-center" ng-if="!response.result">
            <img src="../images/loading.gif" class="loading-gif">
            <p>{{"colleges.search.loading" | translate}}</p>
        </div>


        <article ng-repeat="college in response.result" class="card box-shadow box-shadow-fade" ng-if="response.result">
            <header>
                <p class="name">{{college.name}}</p>
                <p class="initials">{{college.initials}}</p>
                <a href="/colleges/{{college.id}}/grades" class="grades">{{"colleges.search.grades" | translate}}</a>
            </header>
            <main>
                <figure class="college-picture">
                    <img src="../images/chapeu.png" class="image">
                </figure>
                <summary class="details">
                    <div>
                        <dl class="grades">
                            <div>
                                <dt>{{"colleges.search.grades.infra" | translate}}</dt>
                                <dd>66º</dd>
                            </div>
                            <div>
                                <dt>{{"colleges.search.grades.teach" | translate}}</dt>
                                <dd>13º</dd>
                            </div>
                            <div>
                                <dt>{{"colleges.search.grades.mec" | translate}}</dt>
                                <dd>10º</dd>
                            </div>
                            <div>
                                <dt>{{"colleges.search.grades.geral" | translate}}</dt>
                                <dd>22º</dd>
                            </div>
                        </dl>
                        <div class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        </div>    
                    </div>
                    <div class="links">
                        <a href="/faculdades/{{college.id}}" class="link">{{"colleges.search.profile" | translate}}</a>
                        <a href="/faculdades/{{college.id}}/courses" class="link">{{"colleges.search.courses" | translate}}</a>
                    </div>
                </summary>
                <address class="address">
                    
                </address>
                <img src="../images/star.svg" class="favorite-college">
            </main>
        </article>
        <pagination page="{{page}}" total-pages="{{response.totalPages}}" class="pagination-center"/>
    </section>
</page>