<page show-search="false">
	<div class="home-box row">
		<div class="page-header banner">

			<div class="search-box col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">
				<h1 class="text-center">Achar uma faculdade nunca foi tão fácil</h1>
				<p class="text-center subtitle">Encontre as melhores faculdades por todo o Brasil e veja a avaliação de quem estuda ou já estudou lá</p>

				<form class="col-md-8 col-md-offset-2 form-search" ng-submit="collegeSearch()">
					<label>Busque por uma faculdade</label>
					<div class="input-group">
						<input class="form-control" ng-model="search.query"/>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">Buscar</button>
						</span>
					</div>
					<label>Busque por um curso</label>
					<div class="input-group">
						<input class="form-control"/>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button">Buscar</button>
						</span>
					</div>
				</form>
			</div>
		</div>
		
		<navigation-menu/>
		
		<div class="col-md-4 col-md-offset-4 ribbon-box">
			<h1 class="ribbon">
	   			<strong class="ribbon-content">DIVERSAS AREAS</strong>
			</h1>
			
			<p class="text-center subtitle">Veja os cursos mais bem avaliados pelos alunos</p>
		</div>


		<div class="col-md-10 col-md-offset-1 courses-box">
			<div class="col-md-4 col-sm-6 col-xs-6 course-box">
				<div class="service-box font-icon box-shadow box-shadow-fade">
					<icon class="icon icon-engineer"></icon>
					<h3>Engenharia</h3>
					<p>Quisque pulvinar libero dolor, quis bibendum eros euismod sit amet. Proin dapibus id diam at ullamcorper.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 course-box">
				<div class="service-box font-icon box-shadow box-shadow-fade">
					<icon class="icon icon-medicine"></icon>
					<h3>Medicina</h3>
					<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubiltempus et leo at auctor.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 course-box">
				<div class="service-box font-icon box-shadow box-shadow-fade">
					<icon class="icon icon-psychology"></icon>
					<h3>Psicologia</h3>
					<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubiltempus et leo at auctor.</p>
				</div>
			</div>

			<a href="" class="pull-right">Veja nosso ranking de cursos</a>
		</div>


		<div class="col-md-12 text-center box-profession">
			<div class="col-md-10 col-md-offset-1">
				<h1>Ainda não escolheu uma profissão?</h1>
				<p class="subtitle">Faça nosso <a href="#">teste vocacional</a> e descubra a area que mais se encaixa com seu perfil.</p>
				<button class="btn btn-primary btn-lg">Teste vocacional</button>
				<button class="btn btn-primary btn-lg">Guia de profissões</button>
			</div>
		</div>


		<div class="col-md-4 col-md-offset-4 ribbon-box">
			<h1 class="ribbon">
	   			<strong class="ribbon-content">MELHORES FACULDADES</strong>
			</h1>
			
			<p class="text-center subtitle">Conheça as faculdades com as melhores avaliações segundo os alunos</p>
		</div>


		<div class="col-md-10 col-md-offset-1 box-colleges">
			<div class="college col-md-4 col-sm-6 col-xs-4">
				<div class="college-inner box-shadow box-shadow-fade">
					<div class="college-thumb">
						<img src="../images/no-image.png" alt="">
					</div>

					<div class="position">1</div>
						
					<div class="name">
						<a href="single-event.html">Universidade São Judas Tadeu</a>
					</div>

					<div class="info">
						Lorem ipsum dolor sit amet, augue numquam ut vis, nostro propriae cum ut. Quo ne novum populo, cum vidit justo tritani te, ad sea nisl vitae denique. Aeque postea mel eu. Eos delectus appareat efficiendi ea, populo quidam legimus cum ex. Nam ei malorum adipisci, vis ad veri tractatos consectetuer.					
					</div>
				</div>
			</div>

			<div class="college col-md-4 col-sm-6 col-xs-4">
				<div class="college-inner box-shadow box-shadow-fade">
					<div class="college-thumb">
						<img src="../images/no-image.png" alt="">
					</div>
					<div class="position">2</div>					
					<div class="name"><a href="single-event.html">Universidade São Judas Tadeu</a></div>
					<div class="info">
						Lorem ipsum dolor sit amet, augue numquam ut vis, nostro propriae cum ut. Quo ne novum populo, cum vidit justo tritani te, ad sea nisl vitae denique. Aeque postea mel eu. Eos delectus appareat efficiendi ea, populo quidam legimus cum ex. Nam ei malorum adipisci, vis ad veri tractatos consectetuer.
					</div>
				</div>
			</div>

			<div class="college col-md-4 col-sm-6 col-xs-4">
				<div class="college-inner box-shadow box-shadow-fade">
					<div class="college-thumb">
						<img src="../images/no-image.png" alt="">
					</div>

					<div class="position">3</div>
						
					<div class="name">
						<a href="single-event.html">Universidade São Judas Tadeu</a>
					</div>

					<div class="info">
						Lorem ipsum dolor sit amet, augue numquam ut vis, nostro propriae cum ut. Quo ne novum populo, cum vidit justo tritani te, ad sea nisl vitae denique. Aeque postea mel eu. Eos delectus appareat efficiendi ea, populo quidam legimus cum ex. Nam ei malorum adipisci, vis ad veri tractatos consectetuer.
					</div>
				</div>
			</div>

			<span class="text-center col-md-12 col-sm-12">
				<a href="#" class="btn-ranking box-shadow box-shadow-fade">Veja nosso ranking completo</a>
			</span>
		</div>
	</div>
</page>