<div class="box-login-register">
    <div class="header">
        <a href="/" class="logo"><div class="text-center">Qual<b>Facul</b>?</div></a>
    </div>
    
    <div class="form-box">
        <div class="message-box">
            <div class="message-icon glyphicon glyphicon-chevron-right"></div>
            <span class="message-text">Informe suas credênciais.</span>
        </div>

        <div class="message-box" ng-if="error.generic">
            <div class="message-icon glyphicon glyphicon-remove"></div>
            <span class="message-text text-danger form-error-text" ng-bind-html="error.generic"></span>
        </div>

        <div class="message-box" ng-if="error.login">
            <div class="message-icon glyphicon glyphicon-remove"></div>
            <span class="message-text text-danger form-error-text" ng-bind-html="error.login"></span>
        </div>

        <div class="message-box" ng-if="error.password">
            <div class="message-icon glyphicon glyphicon-remove"></div>
            <span class="message-text text-danger form-error-text" ng-bind-html="error.password"></span>
        </div>
        <form angular-validator-submit="login()" name="loginForm" method="post" novalidate angular-validator>
            <input type="text" name="login" class="form-control" placeholder='{{"login.login"|translate}}' autofocus 
                ng-model="user.login">

            <input type="password" id="password" name="password" class="form-control"  placeholder='{{"login.password"|translate}}'
                ng-model="user.password">

            <div class="col-md-12">
                <div class="checkbox pull-left">
                    <label>
                        <input type="checkbox">Permanecer logado
                    </label>
                    <a href="/esqueci-minha-senha" class="link">Esqueci a senha</a>
                </div>
                <button type="submit" class="btn btn-primary btn-md btn-form pull-right">Entrar</button>            
            </div>

            <span class="separator"></span>    
        </form>
        <div class="text-center row">
            <button type="submit" ng-click="loginFacebook()" class="btn btn-primary btn-facebook">Entrar com o Facebook</button>
        </div>
    </div>
</div>

<div class="container text-center">
    <a  href="/cadastro">Criar uma conta</a>
</div>
