<section class="login-box">
	<div class="login-logo">
        <b>Qual</b>Facul<b>?</b> <!-- I18N = corrigir marcação,pois a estilizacao da fonte deve ser feita no css -->
	</div>

	<div class="login-box-body box border-light">
		<label class="text-danger form-error-text" ng-bind-html="error.generic" ng-if="error.generic"></label>
		<form angular-validator-submit="changePasswordByToken()" name="passwordRecoveryForm" method="post" novalidate angular-validator>
			<label for="passwordrecovery_password" class="text-default">{{"register.user.password"|translate}}</label>
            <input type="password" name="passwordrecovery_password" id="passwordrecovery_password" class="form-control" placeholder='{{"register.user.password"|translate}}'
                ng-model="passwordrecovery.password"
                validate-on="dirty"
                required-message='"{{"register.user.empty.password"|translate}}"'
                invalid-message='"{{"register.user.invalid.password"|translate}}"'
                required
                minlength="4">
					
			<label class="text-danger form-error-text" ng-bind-html="error.login" ng-if="error.login"></label>
			<div class="row">
				<div class="col-xs-6">
		            <input type="submit" class="btn btn-primary btn-block btn-flat" value='{{"msg.send"|translate}}' />
				</div>
			</div>
		</form>
	</div>
</section>
