<section class="login-box">
	<div class="login-logo">
        <b>Qual</b>Facul<b>?</b> <!-- I18N = corrigir marcação,pois a estilizacao da fonte deve ser feita no css -->
	</div>

	<div class="login-box-body box border-light">
		<label class="text-danger form-error-text" ng-bind-html="error.generic" ng-if="error.generic"></label>
		<form angular-validator-submit="recoverAccount()" name="passwordRecoveryForm" method="post" novalidate angular-validator>
			<label class="text-default">{{"login.inform.login"|translate}}
				<input class="form-control" placeholder='{{"login.login"|translate}}' autofocus
						ng-model="passwordrecovery.email" 
						validate-on="dirty"
	                    required-message='"{{"login.inform.login"|translate}}"'
						required>
			</label>
					
			<label class="text-danger form-error-text" ng-bind-html="error.login" ng-if="error.login"></label>
			<div class="row">
				<div class="col-xs-6">
		            <input type="submit" class="btn btn-primary btn-block btn-flat" value='{{"passwordrecovery.button.recovery"|translate}}' />
				</div>
			</div>
		</form>
	</div>
</section>
