<page header="false" footer="false">
	<section class="box-login-register">
		<div class="header text-center">
		    <logo size="small"/>
		</div>

	    <div class="form-box">
    		<div class="message-box">
                <div class="message-icon glyphicon glyphicon-chevron-right"></div>
                <span class="message-text">Informe sua nova senha.</span>
            </div>

            <div class="message-box" ng-if="error.password">
                <div class="message-icon glyphicon glyphicon-remove"></div>
                <span class="message-text text-danger form-error-text" ng-bind-html="error.password"></span>
            </div>
	        <form angular-validator-submit="changePasswordByToken()" name="passwordRecoveryForm" method="post" novalidate angular-validator>
	        	<input type="password" name="email" class="form-control" placeholder='{{"register.user.password"|translate}}' 
	                ng-model="user.password">

	            <button type="submit" class="btn btn-primary btn-md btn-form pull-right">Alterar senha</button>
	        </form>
	    </div>
	</section>
</page>
