<page header="false" footer="false">
    <article class="box-login-register">
        <header class="header text-center">
            <logo size="medium"/>
        </header>
        <section class="form-box">
            <div class="message-box">
                <div class="message-icon glyphicon glyphicon-chevron-right"></div>
                <span class="message-text">{{"register.title"|translate}}</span>
            </div>

            <div class="message-box" ng-if="error.generic">
                <div class="message-icon glyphicon glyphicon-remove"></div>
                <span class="message-text text-danger form-error-text" ng-bind-html="error.generic"></span>
            </div>

            <div class="message-box" ng-if="error.name">
                <div class="message-icon glyphicon glyphicon-remove"></div>
                <span class="message-text text-danger form-error-text" ng-bind-html="error.name"></span>
            </div>
            
            <div class="message-box" ng-if="error.email">
                <div class="message-icon glyphicon glyphicon-remove"></div>
                <span class="message-text text-danger form-error-text" ng-bind-html="error.email"></span>
            </div>
            
            <div class="message-box" ng-if="error.password">
                <div class="message-icon glyphicon glyphicon-remove"></div>
                <span class="message-text text-danger form-error-text" ng-bind-html="error.password"></span>
            </div>

            <form angular-validator-submit="register()" name="registerForm" method="post" novalidate angular-validator>
                <input type="text" name="user-name" class="form-control" placeholder='{{"register.user.name"|translate}}' autofocus 
                    ng-model="user.name">

                <input type="text" name="email" class="form-control" placeholder='{{"register.user.email"|translate}}' 
                    ng-model="user.email">

                <input type="password" name="password" class="form-control" placeholder='{{"register.user.password"|translate}}'
                    ng-model="user.password">
            
                <div class="checkbox pull-left">
                    <a href="#" data-target="#terms" data-toggle="modal" target="_blank" class="link">{{"register.Terms"|translate}}</a>
                </div>

                <button type="submit" class="btn btn-primary btn-md btn-form pull-right">{{"register.confirm"|translate}}</button>
            </form>
                
            <span class="separator"></span>
            
            <div class="col-md-12 pull-left text-center">
                <div class="text-center row">
                    <button type="submit" class="btn btn-primary btn-facebook">{{"register.facebook.confirm"|translate}}</button>
                </div>
            </div>
        </section>
    </article>

    <div class="container text-center">
        <a  href="/login">{{"register.already.registrated"|translate}}</a>
    </div>


    <div class="row">
        <div class="col-xs-8">
            <article class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="Terms and conditions" aria-hidden="true">
                <section class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <header class="modal-header">
                            <h3 class="modal-title"><u>{{"register.Terms"|translate}}</u></h3>
                        </header>
                        <main class="modal-body text-justify pre-scrollable">
                            <p>{{"register.terms.line1"|translate}}</p>
                            <p><strong>{{"register.terms.line2"|translate}}</strong></p>
                            <p>{{"register.terms.line3"|translate}}</p>
                            <p>{{"register.terms.line4"|translate}}</p>
                            <p>{{"register.terms.line5"|translate}}</p>
                            <p>{{"register.terms.line6"|translate}}</p>
                            <p>{{"register.terms.line7"|translate}}</p>
                            <p><strong><u>{{"register.terms.line8"|translate}}</u></strong></p>
                        </main>
                        <footer class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                        </footer>
                    </div>
                </section>
            </article>
        </div>
    </div>
</page>