<page show-search="false" main-class="box-understand">

	<section class="box-banner">
        <h1 class="text-center title">{{"understand.ranking.title" | translate}}</h1>
        <h2 class="text-center subtitle">{{"understand.ranking.subtitle" | translate}}</h2>
	</section>
    <p class="btn-section"><i class="glyphicon glyphicon-list"></i></p>

	<section class="box-text">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>{{"understand.ranking.text.line.1" | translate}}</p>
                <p>{{"understand.ranking.text.line.2" | translate}}</p>
                <p>{{"understand.ranking.text.line.3" | translate}}</p>
                <p>
                    <ul>
                        <li>{{"understand.ranking.text.line.4" | translate}}</li>
                        <li>{{"understand.ranking.text.line.5" | translate}}</li>
                    </ul>
                </p>
                <p>{{"understand.ranking.text.line.6" | translate}}</p>
                <p>{{"understand.ranking.text.line.7" | translate}}</p>
                <p>{{"understand.ranking.text.line.8" | translate}}</p>
                <p>
                    <ul>
                        <li>{{"understand.ranking.text.line.9" | translate}}</li>
                        <li>{{"understand.ranking.text.line.10" | translate}}</li>
                    </ul>
                </p>
                <p>{{"understand.ranking.text.line.11" | translate}}</p>
                <p>
                    <ul>
                        <li>{{"understand.ranking.text.line.12" | translate}}</li>
                    </ul>
                </p>
                <p>{{"understand.ranking.text.line.13" | translate}}</p>
                <div class="image">
                    <img src="../images/ranking.png" class="image">
                </div>
            </div>
	    </div>
	</section>
</page>