app.constant('ENV', (function() {
  var api = 'https://dev.api.qualfacul.com:6660';

  return {
    API: {
      LOGIN: api + '/login',
      REGISTER: api + '/register',
      HOME: api + '/home',
      FACEBOOKLOGIN: api + "/facebook/login",
      PASSWORDRECOVERY_REQUEST: api + "/password/reset",
      PASSWORDRECOVERY_CHANGE: api + "/password/change",

      COLLEGE: {
        CURRENT: api + '/colleges/current',

        SEARCH: api + '/colleges/search/',
        PROFILE: api + '/colleges/',
        COMMENTS: {
          ALL: api + '/colleges/{0}/conversations',
          NEW: api + '/colleges/{0}/conversations',
          REPLY: api + '/colleges/{0}/conversations/{1}'
        },
        POSTS: api + '/colleges/{0}/posts',
        CAMPUS: api + '/colleges/{0}/addresses',
        ASSIGN: api + '/colleges/{0}/assign',
        RATINGS: api + '/colleges/{0}/ratings',
        RANKING: api + '/colleges/{0}/ranking',
        COURSES: api + '/colleges/{0}/courses'
      },
      
      RANK: {
        COLLEGE: api + '/rank/colleges/{0}'
      },

      USER: {
        CURRENT: api + '/users/current',
        SETTINGS: api + '/user/preferences'
      },
      
      COURSE: {
        SEARCH: api + '/courses/search/',
        COLLEGES: api + '/courses/{0}/colleges'
      }
    },
    
    FACEBOOK: {
      APPLICATION: {
        ID: '232698013764988',
        VERSION: 'v2.6'
      }
    },

    BASE_URL: 'http://dev.qualfacul.com:9000',
    ARG1: '{0}',
    ARG2: '{1}'
  };

}()));

