app.constant('ENV', (function() {
  var api = 'https://dev.api.qualfacul.com:6660';

  return {
    API: {
      LOGIN: api + '/login',
      REGISTER: api + '/register',
      HOME: api + '/home',
      FACEBOOKLOGIN: api + "/facebook/login",
      PASSWORDRECOVERY_REQUEST: api + "/password/reset",
      PASSWORDRECOVERY_CHANGE: api + "/password/change",

      SEARCH: {
        COLLEGE: api + '/colleges/search/',
      }
    },

    FACEBOOK: {
      APPLICATION: {
        ID: '232698013764988',
        VERSION: 'v2.6'
      }
    },

    BASE_URL: 'https://dev.qualfacul.com:9000'
  };

}()));

