app.constant('ENV', (function() {
  var api = 'https://dev.api.qualfacul.com:6660';

  return {
    API: {
      LOGIN: api + '/login',
      REGISTER: api + '/register',
      HOME: api + '/home',
      FACEBOOKLOGIN: api + "/facebook/login",
      PASSWORDRECOVERY_REQUEST: api + "/password/reset",
      PASSWORDRECOVERY_CHANGE: api + "/password/change",

      COLLEGE: {
        SEARCH: api + '/colleges/search/',
        PROFILE: api + '/colleges/',
        COMMENTS: {
          ALL: api + '/colleges/{0}/conversations',
          NEW: api + '/colleges/{0}/conversations',
          REPLY: api + '/colleges/{0}/conversations/{1}'
        },
        CAMPUS: api + '/colleges/{0}/addresses',
        ASSIGN: api + '/colleges/{0}/assign',
        RATINGS: api + '/colleges/{0}/ratings'
      },
      RANK: {
        COLLEGE: api + '/rank/colleges/{0}'
      },
      SEARCH: {
        COLLEGE: api + '/colleges/search/'
      },
      USER: {
        CURRENT: api + '/users/current'
      }
    },
    
    FACEBOOK: {
      APPLICATION: {
        ID: '232698013764988',
        VERSION: 'v2.6'
      }
    },

    BASE_URL: 'http://dev.qualfacul.com:9000',
    ARG1: '{0}',
    ARG2: '{1}'
  };

}()));

