<header-menu ng-if="hasHeader" search-form="{{headerWithForm}}" />

<growl-notifications/>
<growl-notification  ng-if="showMessage" ttl="2000" on-close="deleteNotification()" ng-class="growlType" class="box-growl fade-out" >{{growlMessage}}</growl-notification>

<main class="{{mainClass}} page-main">
    <ng-transclude/>
</main>

<footer class="footer" ng-if='hasFooter' >
    <div class="container">
        <div class="column col-md-4 col-sm-8">
            <div class="widget">
                <h3 class="title">Sobre</h3>
                <ul ng-controller='LinkCtrl'>
                    <li><a href="/sobre-nos" ng-click="goToTop()">Quem somos</a></li>
                    <li><a href="">Fale conosco</a></li>
                </ul>
                <a href="#" class="btn btn-primary">Enviar mensagem</a>
            </div>
        </div>
        <div class="column col-md-4 col-sm-8">
            <div class="widget">
                <h3 class="title">Rankings</h3>
                <ul ng-controller='LinkCtrl'>
                    <li><a href="/ranking" ng-click="goToTop()">Ranking faculdades</a></li>
                    <li><a href="#">Ranking cursos</a></li>
                    <li><a href="#">Ranking do MEC</a></li>
                    <li><a href="/ranking/entenda">Entenda o ranking</a></li>
                </ul>
            </div>
        </div>
        <div class="column col-md-4 col-sm-8">
            <div class="widget">
                <h3 class="title">Social</h3>
                <p>Siga a gente</p>
                <div class="socials">
                    <ul>
                        <li>
                            <a ng-href="//facebook.com/qualfacul" target="_blank" class="icon-facebook"></a>
                        </li>

                        <li>
                            <a ng-href="//twitter.com/qualfacul" target="_blank" class="icon-twitter"></a>
                        </li>

                        <li>
                            <a ng-href="//instagram.com/qualfacul/" target="_blank" class="icon-instagran"></a>
                        </li>

                        <li>
                            <a ng-href="//plus.google.com/u/0/102376252222505058869" target="_blank" class="icon-googleplus"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
