<header-menu ng-if="hasHeader" search-form="{{headerWithForm}}"/>

<growl-notifications/>
<growl-notification  ng-if="showMessage" ttl="2000" on-close="deleteNotification()" ng-class="growlType" class="box-growl fade-out" >{{growlMessage}}</growl-notification>

<main class="{{mainClass}}">
    <ng-transclude/>
</main>


<footer class="footer" ng-if='hasFooter'>
    <div class="container">
        <div class="column col-md-3 col-sm-6">
            <div class="widget">
                <h3 class="title">Quem somos</h3>
                <p>Lorem ipsum dolor sit amet, quo suscipit consetetur ne, everti audiam eu vim. Usu ei movet exerci semper. Vix alia dicunt in. Usu natum epicurei et, sea ei inani zril. Commodo delenit an vis, mei no menandri indoctum appellantur. Ad pri quot vivendum, delenit accumsan no vis, id aliquip perfecto his. Pro te percipit iudicabit, ius tota aliquip ea.</p>
            </div>
        </div>
        <div class="column col-md-3 col-sm-6">
            <div class="widget">
                <h3 class="title">Rankings</h3>
                <ul>
                    <li><a href="#">Ranking faculdades</a></li>
                    <li><a href="#">Ranking cursos</a></li>
                    <li><a href="#">Ranking do MEC</a></li>
                    <li><a href="#">Entenda o ranking</a></li>
                </ul>
            </div>
        </div>
        <div class="column col-md-3 col-sm-6">
            <div class="widget">
                <h3 class="title">All Courses</h3>
                <ul>
                    <li><a href="#">Accounting Technologies</a></li>
                    <li><a href="#">Business Law</a></li>
                    <li><a href="#">Entrepreneurship</a></li>
                    <li><a href="#">Marketing Online</a></li>
                    <li><a href="#">Business Economics</a></li>
                    <li><a href="#">Public Health</a></li>
                </ul>
            </div>
        </div>
        <div class="column col-md-3 col-sm-6">
            <div class="widget">
                <h3 class="title">Socials</h3>
                <p>Siga a gente</p>
                <div class="socials">
                    <ul>
                        <li>
                            <a href="#" target="_blank" class="icon-facebook"></a>
                        </li>

                        <li>
                            <a href="#" target="_blank" class="icon-twitter"></a>
                        </li>

                        <li>
                            <a href="#" target="_blank" class="icon-instagran"></a>
                        </li>

                        <li>
                            <a href="#" target="_blank" class="icon-googleplus"></a>
                        </li>
                    </ul>
                </div>
                <p>Fale com a gente</p>
                <a href="#" class="btn btn-primary">Enviar mensagem</a>
            </div>
        </div>
    </div>
</footer>
